.highlighter {
    font-weight: bold;
    font-size: 1.1rem;
}

.nowrap {
    white-space: nowrap;
}

.profilePic {
    border-radius: 50%;
    border: 1px solid white;
    width: 30%;
    -webkit-box-shadow: 0px 0px 50px -20px #000000; 
    box-shadow: 0px 0px 50px -20px #000000;
}

.py-24 {
    padding-top: 3rem;
}

.resumeBtn {
    background-color: #a4c0ff;
    color: #ffffff;
}

.resumeBtn:hover {
    background-color: #a4c0ff;
    color: #000000;
}